In [1]:
import sqlite3

In [2]:
connexion = sqlite3.connect("toutroule.db")

In [3]:
curseur = connexion.cursor()

In [4]:
creation_table = """
CREATE TABLE vehicule(
   id_vehicule int,
   type VARCHAR(50) NOT NULL,
   PRIMARY KEY(id_vehicule)
);
"""

In [5]:
curseur.execute(creation_table)

In [6]:
table_chauffeur = """
CREATE TABLE chauffeurs(
   id_chauffeur INT,
   nom VARCHAR(50) NOT NULL,
   prenom VARCHAR(50) NOT NULL,
   genre VARCHAR(2) NOT NULL,
   PRIMARY KEY(id_chauffeur)
);
"""

In [7]:
curseur.execute(table_chauffeur)

In [8]:
table_trajets = """
CREATE TABLE trajets(
   id_trajet INT,
   km_fin INT NOT NULL,
   km_debut INT NOT NULL,
   commentaire VARCHAR(250),
   id_vehicule CHAR(50) NOT NULL,
   id_chauffeur INT NOT NULL,
   PRIMARY KEY(id_trajet),
   FOREIGN KEY(id_vehicule) REFERENCES vehicule(id_vehicule),
   FOREIGN KEY(id_chauffeur) REFERENCES chauffeurs(id_chauffeur)
);
"""

In [9]:
curseur.execute(table_trajets)

In [10]:
connexion.commit()
connexion.close()