In [1]:
import sqlite3

In [2]:
connexion = sqlite3.connect("toutroule.db")

In [3]:
curseur = connexion.cursor()

In [4]:
creation_table = """
CREATE TABLE vehicules(
   id_vehicule INTEGER PRIMARY KEY,
   type VARCHAR(50) NOT NULL
);
"""

In [5]:
curseur.execute(creation_table)

In [6]:
table_chauffeur = """
CREATE TABLE chauffeurs(
   id_chauffeur INTEGER PRIMARY KEY,
   nom VARCHAR(50) NOT NULL,
   prenom VARCHAR(50) NOT NULL,
   genre VARCHAR(2) NOT NULL
);
"""

In [7]:
curseur.execute(table_chauffeur)

In [8]:
table_trajets = """
CREATE TABLE trajets(
   id_trajet INTEGER PRIMARY KEY,
   km_fin INT NOT NULL,
   km_debut INT NOT NULL,
   commentaire VARCHAR(250),
   id_vehicule CHAR(50) NOT NULL,
   id_chauffeur INT NOT NULL,
   FOREIGN KEY(id_vehicule) REFERENCES vehicule(id_vehicule),
   FOREIGN KEY(id_chauffeur) REFERENCES chauffeurs(id_chauffeur)
);
"""

In [9]:
curseur.execute(table_trajets)

In [10]:
connexion.commit()
connexion.close()

In [9]:
connexion = sqlite3.connect("toutroule.db")
curseur = connexion.cursor()
f_reponse_formulaire = {
        "nom":f_formulaire.wtf_nom.data,
        "prenom":f_formulaire.wtf_prenom.data,
        "type_vehicule":f_formulaire.wtf_type_vehicule.data,
        "kilometres_depart":f_formulaire.wtf_kilometres_depart.data,
        "kilometres_fin":f_formulaire.wtf_kilometres_fin.data,
        "commentaire":f_formulaire.wtf_commentaire.data
        }
f_reponse_formulaire.id_vehicule = curseur.execute(f"SELECT id_vehicule FROM vehicule WHERE type = {f_reponse_formulaire.type_vehicule}").fetchone()[0]
f_reponse_formulaire.id_chauffeur = curseur.execute(f"SELECT id_cheffeur FROM chauffeurs WHERE nom={f_reponse_formulaire.nom} and prenom={f_reponse_formulaire.prenom} ").fetchone()[0]

1 1